/* --- Landing Section --- */
.container {
    max-width:960px;
    margin:auto;
    overflow:hidden;
    padding:0 3rem;
}
#landing {
    color:var(--font-color);
    height:100vh;
    position:relative;
    background-color:var(--primary-color);
}
#landing:before {
    content:'';
    /* Photo by Steve Johnson from pexels.com */
    background:url(../images/abstract1-med.jpg) no-repeat center center/cover;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}
#landing .landing-inner {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    height:100%;
}
#landing h1 {
    font-size: 3.2rem;
    padding-bottom:1rem;
    font-family: Philosopher, sans-serif;
}
#landing p {
    padding-bottom:2.4rem;
    font-size:1.3rem;
}

/* --- Work Section --- */
#work {
    color: var(--font-color);
    height:100vh;
    position:relative;
    background-color: var(--primary-color);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-column-gap: 60px;

}
.work-image{
    flex-shrink:0;
    min-width:100%;
    max-width:100%;
}
.work-1{
    grid-column:1;
    grid-row:2;
    padding-left:8rem;
}
.work-2{
    grid-column:2;
    grid-row:2;
}
.work-3{
    grid-column:3;
    grid-row:2;
    padding-right:8rem;
}
.work-1 .work-display {
    background:url(../images/humbieHelper.png) no-repeat center center/cover;
}
.work-2 .work-display {
    background:url(../images/stat-map-icon.png) no-repeat center center/cover;
}
.work-3 .work-display {
    background:url(../images/rest-land.jpg) no-repeat center center/cover;
}
.work-1 .work-display:hover,
.work-2 .work-display:hover,
.work-3 .work-display:hover {
    background: rgba(250, 250, 250, 0.6);
    transition: 1s;
}
.work-1 .work-display:hover .work-info,
.work-2 .work-display:hover .work-info,
.work-3 .work-display:hover .work-info {
    display:block;
}
.work-info {
    display:none;
    text-align:center;
    text-decoration: none;
    color:#000;
    vertical-align: middle;
    font-size: 2rem;
}
#work:before {
    content:'';
    /* Photo from https://www.pexels.com/@rawpixel */
    /* https://www.pexels.com/@francesco-ungaro */
    background:url(../images/abstract2-med.jpg) no-repeat center center/cover;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}
#work h2 {
    font-size:2.5rem;
    grid-column:2;
    grid-row:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}
#work h3 {
    font-size:1.8rem;
    padding: 1rem;
}
.work-display {
    border:2px solid #fff;
    border-radius:30px;
    width:20vw;
    height:24vh;
    line-height: 24vh;
    overflow:hidden;
    margin:0 auto;
    text-align:center;
}
.work-desc {
    text-align:center;
}
.work-desc h3 {
    padding-top:1.2rem;
}
.tech {
    text-align: center;
}
.tech h4 {
    padding-top:2rem;
}
.tech-list {
    list-style: none;
}
.work-tech1 {
    grid-column:1;
    grid-row:3;
    text-align:center;
    padding-left:8rem;
}
.work-tech2 {
    grid-column:2;
    grid-row:3;
}
.work-tech3 {
    grid-column:3;
    grid-row:3;
    padding-right:8rem;
}
.btn-container {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- About Section --- */
#about {
    color:var(--font-color);
    min-height:100vh;
    position:relative;
    background-color:var(--primary-color);
}
#about:before {
    content:'';
    /* Photo by Steve Johnson from pexels.com */
    background:url(../images/abstract3-med.jpg) no-repeat center center/cover;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}
.about-wrap {
    max-width: 960px;
    margin:auto;
    overflow: hidden;
}
.about-wrap > ul {
    text-align:center;
    list-style: none;
}
#about h2 {
    padding-top:4rem;
    padding-bottom:4rem;
    font-size: 2.5rem;
    text-align:center;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}
#about h3 {
    font-size: 1.8rem;
    color:#1dc5f8;
    text-align:center;
    padding-top:2rem;
    padding-bottom:1.6rem;
    font-family:Philosopher, Arial, Helvetica, sans-serif;
}
#about p {
    font-size:1.4rem;   
}
.contact-info {
    text-align:center;
    font-size:1.3rem;
    
}
.contact-info > ul {
    padding-top: 1.8rem;
    list-style:none;
}

/* --- Media Queries --- */
@media only screen and (max-width: 1024px) {
    #work {
        padding-top:5rem;
    }
    #work > div {
        padding-top:5rem;
    }
    .work-1{
        padding-left:0;
    }
    .work-3{
        padding-right:0;
    }
    .work-tech1{
        padding-left:0;
    }
    .work-tech3{
        padding-right:0;
    }
    .work-display{
        height:12vh;
    }
}

@media only screen and (max-width: 768px) {
    #work {
        display:block;
        min-height: 100vh;
    }
    .work-display{
        height:10vh;
        width:30vw;
    }
}